* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --main-color: #ffffff;
}

body {
    font-family: system-ui, sans-serif; 
    background-image: url(assets/background/bckg_alphacoders.jpeg);
    background-size: cover;
    color: var(--main-color);
}

/* Header parameters */

header {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

header h1 {
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

form {
    margin-left: 2rem;
    display: flex;
    gap: .5rem;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
}

#location-input{
    padding: .5em;
    font-size: 1.2rem;
    line-height: 1.4;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: var(--main-color);
    border-radius: 1rem;
    max-width: 70%;
}

#btn-submit {
    cursor: pointer;
    color: var(--main-color);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    padding: .4rem;
    font-size: 1rem;
    max-width: 25%;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

footer .fa {
    color: var(--main-color);
    font-size: 5rem;
    opacity: .7;
    text-decoration: none;
}

/* Main */

main {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}







.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: none;
    border-radius: 2rem;
    background-color: rgba(0, 36, 66, 0.4);
    backdrop-filter: blur(1rem);
    padding: 2rem;
    font-size: 2rem;
    max-width: 70%;
}

.format-temperature  {
    font-size: 1.2rem;
    padding: .4rem 2rem;
    cursor: pointer;
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, 0.644);
    border: none;
}

.format-temperature .active {
    font-weight: 800;
}

.weather-general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#current-weather-location {
    font-weight: 800;
}

#forecast-weather-container-global {
    padding: 1rem;
    overflow: scroll;
}

#forecast-weather-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#forecast-weather-container .card {
    width: 30%;
    font-size: 1.2rem;
    box-shadow: .2rem .2rem .5rem black;
}

.weather-comp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    display: block;
    filter: invert(100%);
}

@media only screen and (max-height: 900px) { 

    .card {
        font-size: 1.5rem;
    }

    #forecast-weather-container .card {
        font-size: 1rem;
    }

    
}

@media only screen and (max-height: 800px) { 

    .card {
        font-size: 1rem;
    }

    .format-temperature  {
        font-size: .8rem;
    }

    #forecast-weather-container .card {
        font-size: 1rem;
    }

    #forecast-weather-container-global {
        font-size: 1rem;
    }

    
}

@media only screen and (max-height: 700px) { 

    .card {
        font-size: .7rem;
    }

    .format-temperature  {
        font-size: .8rem;
    }

    #forecast-weather-container .card {
        font-size: .5rem;
    }

    
}

@media only screen and (max-width: 700px) { 
    
    #title-page h1 {
        font-size: 2rem;
    }

    .card {
        font-size: 1.5rem;
    }

    #forecast-weather-container .card {
        font-size: 1rem;
    }

    #forecast-weather-container-global {
        padding: 1rem;
    }


    
}